/* navigations pluppar  */

#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: transparent;
  border: solid 0.01em;
  border-color: white;
  box-sizing: border-box;
}

.fp-slidesNav.fp-bottom {
  text-align: center;
  bottom: 5%;
}

/* #fp-nav,
.fp-right {
  top: 0;
  margin-top: 8.5rem;
} */

/* navigation pilar */

.fp-prev {
  top: 20%;
  height: 30rem;
  border-width: 10rem !important;
  border-color: transparent !important;
  cursor: url("./assets/arrowPrev.png"), auto !important;
}

.fp-next {
  top: 20%;
  height: 30rem;
  border-width: 10rem !important;
  border-color: transparent !important;
  cursor: url("./assets/arrowNext.png"), auto !important;
}
